<section id="footer-bar">
    <div class="row">
        <div class="span3">
            <h4>MENU TITLE 1</h4>
            <ul class="nav">
                <li><a href="#">MENU 1</a></li> 
                <li><a href="#">MENU 2</a></li> 
                <li><a href="#">MENU 3</a></li> 
                <li><a href="#">MENU 4</a></li>  							
            </ul>					
        </div>
        <div class="span4">
            <h4>MENU TITLE 2</h4>
            <ul class="nav">
                <li><a href="#">MENU 5</a></li> 
                <li><a href="#">MENU 6</a></li> 
                <li><a href="#">MENU 7</a></li> 
                <li><a href="#">MENU 8</a></li> 
            </ul>
        </div>
        <div class="span5">
            <p class="logo"><img src="assets/themes/images/logo.png" class="site_logo" alt=""></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
            <br/>
            <span class="social_icons">
                <a class="facebook" href="#">MENU 9</a>
                <a class="facebook" href="#">MENU 10</a>
                <a class="facebook" href="#">MENU 11</a>
                <a class="facebook" href="#">MENU 12</a>
            </span>
        </div>					
    </div>	
</section>
<section id="copyright">
    <span>2019 © All Rights Reserved by Beatum IT Solutions Pvt. Ltd.</span>
</section>