
    <div class="page-container login-page">
        <div class="login-branding">
            <a><img src="assets/images/logo-large.png" alt="logo"></a>
        </div>
        <div class="login-container">
            <img class="login-img-card" src="assets/images/avatar/jaman-01.jpg" alt="login thumb" />
            <form class="form-signin" [formGroup]="reset_password_link_form" (ngSubmit)="onSubmit()">
                <input type="text" id="inputEmail" class="form-control" formControlName="email" placeholder="Email Address" required autofocus>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div class="error" *ngIf="f.email.errors.required">Email is required</div>
                    <div class="error" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                <button class="btn btn-primary btn-block btn-signin" type="submit">Send Reset Password Link</button>
            </form>
        </div>
    </div>
