#menu li .main-menu:hover ~ .sub-menu-wrap{
    display:block !important;
}
.main-menu .sf-js-enabled li:hover ul {
    visibility: visible;
    display: block !important;
    transition: 0.3s;
}
.spinner-wrap {
    position:absolute;
    z-index:9;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.5)
}
.spinner {
    position:absolute;
    left:50%;
    top:40%;
}