<div class="box-widget widget-module">
    <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-cart-arrow-down"></i></span>
        <h4>Order Received</h4>
    </div>
    <div class="widget-container">
        <div class="table-responsive">
            <table class="table w-order-list table-striped dt-stack-table">
            <thead>
            <tr>
                <th>
                     Order ID
                </th>
                <th>
                     Customer Name
                </th>
                <th>
                     Status
                </th>
                <th>
                     Amount
                </th>
            </tr>
            </thead>
            <tbody *ngIf="orders_arr.length > 0;else not_found">
            <tr *ngFor="let order of orders_arr">
                <td>
                    <a routerLink="/order_detail/{{order.id}}">#{{order.order_unique_id}}</a>
                </td>
                <td>
                    <a>{{order.customers.first_name}} {{order.customers.last_name}}</a>
                </td>
                <td>
                    <span class="label label-success">Confirmed</span>
                </td>
                <td>
                    ${{order.total_amount}}
                </td>
            </tr>
            </tbody>
            <ng-template #not_found>
                <tr>
                    <td colspan="4" class="text-center" style="font-size:1px;padding:10px 0;">No order placed yet.</td>
                </tr>
            </ng-template>
            </table>
        </div>
    </div>
</div>